.FAQ-page {
    margin-left: 15rem;
    font-size: 22px;
}

.ul-li {
    color: green;
    list-style-type: none;
    line-height: 4rem;
    margin-top: 2rem;
}

.li-li{
    line-height: 1.5rem;
    list-style-type: none;
    font-size: 16px;
    /* line-height: 2rem; */
    text-indent: 7rem;
}

h1 {
    padding-top: 1rem;
    text-align: center;
}

.li-p {
    line-height: 1.5rem;
    font-size: 16px;
    margin-left: 7rem;
    margin-right: 12rem;
    text-indent: 2rem;

}

.resource-img {
    float: right;
    margin: 4rem 5rem 0 0;
}