.FAQ-page {
    margin-left: 15rem;
    font-size: 22px;
}

.ul-li {
    list-style-type: none;
    line-height: 4rem;
}

.li-li{
    list-style-type: none;
    font-size: 16px;
    /* line-height: 2rem; */
    text-indent: 7rem;
}

h1 {
    padding-top: 1rem;
    text-align: center;
}