.absolute-footer {

    /* position:absolute; */
    display: inline-block;
   /* bottom:0; */
    width:100%;
}

.footer {

    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 2rem;
    padding-top: 3rem;
    background-color: #D2E4D3;
    padding-bottom: 1rem;
}

.gca-image {
    width: 100px;
    float: right;
    margin-right: 30rem;
    /* margin-bottom: 3rem; */
}

.footer-p1 {
    text-align: left;
    margin-left: 30rem;
    width: 350px;
    font-size: 10px;
    margin-top: .3rem;
}

.rh-logo {
    float: right;
    width: 200px;
}
