@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400');

.footer {
    position: absolute;
    display: block;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20rem;
    background-color: rgb(2, 26, 2);
    height: 220px;
    width: 100%;
    color: white;
    padding-top: 2rem;
    /* text-transform: uppercase; */
}

.footer-h1 {
    color: rgb(147, 161, 148);
}

.footer a {
    color: white;
    text-decoration: none;
}
.footer a:hover {
    color: rgb(163, 226, 144);
}
.footer a:visited {
    color: rgb(214, 156, 68);
}

.footer-links {
    margin-left: 20%;
}
.footer-links li {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 25px;
    list-style-type: none;
}

.reg {
    font-size: 16px;
}

.hr {
    width: 100px;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.design {
    margin-top: 1rem;
    font-size: 10px;
    color: pink;
    /* float: right; */
    text-align: center;
}
.copy {
    /* font-size: px; */
}



                        /* MEDIA QUERIES */
    
                        /* CELLULAR */

            @media (max-width: 450px) { 

            }



                        /* TABLET */

            @media (max-width: 770px) { 

            }


            @media (max-width: 1100px) { 

            }


                        /* LARGE SCREENS */

            @media (max-width: 12450px) { 

            }