@import url('https://fonts.googleapis.com/css?family=Montserrat:200');

.main-p-content {
    /* padding: 1rem; */
    text-align: left;
    margin-top: 1rem;
    margin-right: 4rem;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #065D1F;
    font-size: 40px;
    padding-bottom: 2rem;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #065D1F;
    font-size: 30px;
}

.radius-imgs {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.main-images img {
    margin-left: 2rem;
    padding: 14px 35px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.join-link {
    font-size: 22px;
    color: #065D1F;
}

.join-link:hover {
    color: green;
}
