@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400');

.main-p-content {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    /* padding: 1rem; */
    text-align: left;
    margin-top: 1rem;
    margin-right: 4rem;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #065D1F;
    font-size: 40px;
    /* font-weight: 800; */
    /* padding-bottom: 2rem; */
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #065D1F;
    font-size: 30px;
}

.radius-imgs {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.main-images img {
    /* display: flex;
    flex-direction: row;
    justify-content: space-around; */
    margin-left: 2rem;
    padding: 14px 35px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.-main-join-link {
    /* margin-left: -2rem; */
    font-size: 22px;
    color: rgb(12, 94, 35);
}

.main-join-link:hover {
    color: green;
}
