

path {
    pointer-events: all;
  }
  path:hover {
    opacity: 0.50;
    cursor: pointer;
  }

  .map-h1 {
    font-size: 35px;
  }

.state {
  cursor: default !important;
}

path:hover {
  opacity: 1 !important;
  cursor: pointer;
}

  .TN {
    fill: rgb(99, 150, 10) !important;
    cursor: pointer !important;
    opacity: .5 !important;
  }

  .MS {
    
    
    fill: rgb(99, 150, 10) !important;
    cursor: pointer !important;
    opacity: .5 !important;
  }

  .OR {
    
    
    fill: rgb(99, 150, 10) !important;
    cursor: pointer !important;
    opacity: .5 !important;
  }

  .TX {
    
    
    fill: rgb(99, 150, 10) !important;
    cursor: pointer !important;
    opacity: .5 !important;
  }

  .LA {
    
    
    fill: rgb(99, 150, 10) !important;
    cursor: pointer !important;
    opacity: .5 !important;
  }

  .VA {
    
    
    fill: rgb(99, 150, 10) !important;
    cursor: pointer !important;
    opacity: .5 !important;
  }

  .FL {
    
    
    fill: rgb(99, 150, 10) !important;
    cursor: pointer !important;
    opacity: .5 !important;
  }