* {
    padding: 0px;
    margin:0px;
}

.ww-h1 {
    color: #375b2f;
    padding: 20px;
    text-align: center;
}

.navbar {
    background-image: linear-gradient(#D2E4D3, white);
    height: 280px;
    padding-top: 1rem;
}

.topnav {
    float: right;
    overflow: hidden;

  }
  
  .topnav a {
    color: rgb(127, 139, 127);
    padding-right: 2rem; 
    
    text-decoration: none;
    font-size: 16px;

    -webkit-transition: font-size 1s;
      -moz-transition: font-size 1s;
        -o-transition: font-size 1s;
         transition: font-size 1s;
  }
  
  .topnav a:hover {
    font-size: 17px;
    font-weight: bold;
  }
  
  .topnav a.active {
    text-decoration-line: underline;
    text-decoration-style: dotted;
  }

  
.App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
    height: 180px;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
  }
  
  .App-header {
    text-align: center;
    height: 150px;
    padding-top: 2rem;
    margin-bottom: 3rem;
    color: white;
  }