* {
    padding: 0px;
    margin:0px;
}

.ww-h1 {
    color: #375b2f;
    padding: 20px;
}

.navbar {
    background-image: linear-gradient(#D2E4D3, white);
    height: 280px;
}

.topnav {
    float: right;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: rgb(127, 139, 127);
    /* text-align: center; */
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    font-style: italic;
  }
  
  .topnav a.active {
    text-decoration-line: underline;
    text-decoration-style: dotted;
  }

  
.App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
    height: 180px;
    padding-top: 2rem;
    /* padding-left: 10rem; */
  }
  
  .App-header {
    /* background-color: #222; */
    height: 150px;
    padding: 10px;
    padding-top: 1rem;
    margin-bottom: 3rem;
    color: white;
  }