@import url('https://fonts.googleapis.com/css?family=Muli:800');



.al-section-1 {
    background-image: url('./tennessee/trail_cropped.png');
    opacity: .8;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 8rem;
    margin-bottom: 5rem;
}

.fl-section-1 {
    background-image: url('./images/muscle_shoals.PNG');
    opacity: .8;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 8rem;
    margin-bottom: 5rem;
}

.in-section-1 {
    background: url('./indiana/yellow.jpg') center center no-repeat;
    opacity: .8;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 8rem;
    margin-bottom: 5rem;
}

.ga-section-1 {
    background-image: url('./tennessee/trail_cropped.png');
    opacity: .8;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 8rem;
    margin-bottom: 5rem;
}


.la-section-1 {
    background-image: url('./tennessee/trail_cropped.png');
    opacity: .8;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 8rem;
    margin-bottom: 5rem;
}

.ms-section-1 {
    background-image: url('./tennessee/trail_cropped.png');
    opacity: .8;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 8rem;
    margin-bottom: 5rem;
}


.or-section-1 {
    background-image: url('./tennessee/trail_cropped.png');
    opacity: .8;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 8rem;
    margin-bottom: 5rem;
}


.tx-section-1 {
    background-image: url('./tennessee/trail_cropped.png');
    opacity: .8;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 8rem;
    margin-bottom: 5rem;
}

.tn-section-1 {
    background-image: url('./tennessee/trail_cropped.png');
    opacity: .8;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 8rem;
    margin-bottom: 5rem;
}

.va-section-1 {
    background-image: url('./tennessee/trail_cropped.png');
    opacity: .8;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 8rem;
    margin-bottom: 5rem;
}
