@import url('https://fonts.googleapis.com/css?family=Muli:800');

.tn-section-1 {
    background-image: url('./tennessee/trail_cropped.png');
    opacity: .8;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 8rem;
    margin-bottom: 5rem;
}

.tn-pg-1 {
    font-family: 'Muli', sans-serif;
    padding: 3rem 4rem 1rem 3rem;
    margin-bottom: 3rem;
    text-align: left;
    /* font-weight: bold; */
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 50px;
}

.host-btn {
    /* margin-right: auto; */
    margin-left: 3rem;
    background-color: rgb(186, 228, 188);
    padding: 1.5rem;
    font-size: 22px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border: 2px grey solid;
}

.host-btn:hover {
    cursor: pointer;
    opacity: .8;
}


.host-btn-center {
    margin-left: 30%;
    margin-bottom: 5rem;
    background-color: rgb(186, 228, 188);
    padding: 1.5rem;
    font-size: 22px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border: 2px grey solid;
}
.host-btn-center:hover {
    cursor: pointer;
    opacity: .8;
}


.invasive-img {
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

.right-honey {
    margin-bottom: 10rem;
}

.honeysuckle:hover {
    /* position:absolute; */
    width: 420px;
    
}


h3 {
    text-align: center;
    font-size: 32px;
    /* background-color: #D2E4D3; */
    padding: 2rem 0rem 2rem 0rem;
}



.location-cards {
    margin-top: 1rem;
    /* margin: 2rem; */
    padding: 1rem 3rem 3rem 3rem;
    display: flex;
    justify-content: space-around;
}


.cards, .single-locations {
    /* position: relative; */
    border: 2px solid rgb(127, 139, 127);
    padding: 2rem;
}

.cards:hover {
    /* position: relative; */
    border: 3px solid rgb(31, 139, 31);
    padding: 2rem;
}





.banner-pg-1 {
    font-family: 'Muli', sans-serif;
    padding: 2rem 4rem 1rem 3rem;
    margin-bottom: 3rem;

    text-align: left;
    /* font-weight: bold; */
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 50px;
}


.invasive-img {
    position: relative;
    margin-right: auto;
    margin-left: auto;
}



h3 {
    text-align: center;
    font-size: 32px;
    /* background-color: #D2E4D3; */
    padding: 2rem 0rem 2rem 0rem;
}



.location-cards {
    margin-top: 1rem;
    /* margin: 2rem; */
    padding: 1rem 3rem 3rem 3rem;
    display: flex;
    justify-content: space-around;
}


.cards {
    /* position: relative; */
    border: 2px solid rgb(127, 139, 127);
    margin-left: 2rem;
    padding: 1rem;
}



.muscle-shoals {
    margin: 2rem 0 0 2rem;
    text-indent: 2rem;
}

.each-state-locations {
    margin: 2rem 0 0 2rem;
    text-indent: 2rem;
}

.fl-h4 {
    margin: 0 0 1rem -2rem;
    color: green;
}

.in-section-1 {
    background-image: url('./images/muscle_shoals.PNG');
    opacity: .8;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 8rem;
    margin-bottom: 5rem;
}
