@import url('https://fonts.googleapis.com/css?family=Muli:800');

.fl-section-1 {
    background-image: url('./images/muscle_shoals.PNG');
    opacity: .8;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 8rem;
    margin-bottom: 5rem;
}

.fl-pg-1 {
    font-family: 'Muli', sans-serif;
    padding: 2rem 4rem 1rem 3rem;
    margin-bottom: 3rem;

    text-align: left;
    /* font-weight: bold; */
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 50px;
}

Button {
    margin-left: 40%;
    background-color: rgb(186, 228, 188);
    width: 25%;
    text-align: center;
    padding: 1rem;
    font-size: 22px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

Button:hover {
    cursor: pointer;
    opacity: .8;
}

.invasive-img {
    position: relative;
    margin-right: auto;
    margin-left: auto;
}



h3 {
    text-align: center;
    font-size: 32px;
    /* background-color: #D2E4D3; */
    padding: 2rem 0rem 2rem 0rem;
}



.location-cards {
    margin-top: 1rem;
    /* margin: 2rem; */
    padding: 1rem 3rem 3rem 3rem;
    display: flex;
    justify-content: space-around;
}


.cards {
    /* position: relative; */
    border: 2px solid rgb(127, 139, 127);
    margin-left: 2rem;
    padding: 1rem;
}



.muscle-shoals {
    margin: 2rem 0 0 2rem;
    text-indent: 2rem;
}

.fl-h4 {
    margin: 0 0 1rem -2rem;
    color: green;
}

.download-host-btn {
    margin: 2rem 0 0 30rem;
    background-color: rgb(186, 228, 188);
    width: 25%;
    text-align: center;
    padding: 1rem;
    font-size: 22px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border: 2px grey solid;
}

.download-host-btn:hover {
    cursor: pointer;
    opacity: .8;
}