

.tn-section-1 {
    background-image: url('./tennessee/trail.jpg');
    opacity: 2%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 10rem;
    margin-bottom: 2rem;
}

.tn-pg-1 {
    /* padding-top: 5rem; */
    /* width: 50%; */
    padding: 3rem 4rem 1rem 3rem;
    margin-bottom: 3rem;
    font-weight: bold;
    color: white;
    font-size: 45px;
}

Button {
    margin-left: 40%;
    background-color: rgb(146, 201, 149);
    width: 25%;
    text-align: center;
    padding: 1rem;
    font-size: 22px;
    color: rgb(0, 0, 0);
    font-weight: bold;

}


/*.honeysuckle {
    float: right;
    width: 400px;
    margin-right: 10rem;
    
    -webkit-transition: width 5s;
      -moz-transition: width 5s;
        -o-transition: width 5s;
         transition: width 5s;
}

.ivy {
    width: 200px;
    padding-top: 2rem;
    margin-left: 80%;
    /* float: right; */
    /* margin-bottom: 50rem; */

    /* -webkit-transition: width 5s;
      -moz-transition: width 5s;
        -o-transition: width 5s;
         transition: width 5s; */
/* } */

/* .ivy:hover {
    width: 210px;
} */

.invasive-img {
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

.right-honey {
    margin-bottom: 10rem;
}

.honeysuckle:hover {
    /* position:absolute; */
    width: 420px;
    
}


h3 {
    text-align: center;
    font-size: 32px;
    background-color: #D2E4D3;
    padding: 2rem 0rem 2rem 0rem;
}



.location-cards {
    /* margin-top: 1rem; */
    /* margin: 2rem; */
    padding: 1rem 3rem 3rem 3rem;
    display: flex;
    justify-content: space-around;
}


.cards {
    /* position: relative; */
    border: 2px solid rgb(127, 139, 127);
    padding: 2rem;
}

.cards:hover {
    /* position: relative; */
    border: 3px solid rgb(31, 139, 31);
    padding: 2rem;
}