@import url('https://fonts.googleapis.com/css?family=Muli:400');

* {
  font-family: 'Muli', sans-serif;
  /* font-weight: bold; */
  /* text-align: center; */
}

/* .App {
  text-align: center;
} */

/* ROTATION */
/* 
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
